<footer class="footer">
  <div class="footer-inner">

    <div class="footer__part">
      <h2>Still need help?</h2>
    </div>
    <div class="footer__part list">
      <h4>Contact support</h4>
      <ul>
        <li>P: (08) 6232 2132</li>
        <li>E: support@elan2.com.au</li>
      </ul>
    </div>
    <div class="footer__part list">
      <h4>Additional training resources</h4>
      <ul>
        <li>Video training course</li>
        <li>In-app clickthrough course</li>
      </ul>
    </div>

    {{!-- {{#link 'help_center'}}{{help_center.name}}{{/link}} --}}

    {{#if alternative_locales}}
      <div class="footer-language-selector">
        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      </div>
    {{/if}}
  </div>
</footer>
