/***** Breadcrumbs *****/
.breadcrumbs {
  @include tablet {
    margin: 0;
  }

  margin: 0 0 15px 0;
  padding: 0;
  display: flex;

  li {
    font-size: $font-size-small;
    font-weight: bold;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      color: #112845;
      text-decoration: underline;
      text-decoration-color: #112845;
      text-underline-offset: 2px;
    }

    + li::before {
      content: ">";
      margin: 0 4px 0 8px;
      font-size: $font-size-base;
      color: #112845;
    }
  }
}
