/***** Footer *****/
.footer {
  border-top: 1px solid $low-contrast-border-color;
  margin-top: 60px;
  padding: 90px 0;
  background: $brand_color;

  &__part {
    h2, h4 {
      color: $brand_text_color;
    }

    h2 {
      margin: 0px;
      align-self: center;
    }

    &.list {
      h4 {
        margin-bottom: 12px;
      }

      ul {
        color: #6E85A3;

        li {
          margin: 0;
        }
      }
    }

    &:not(.list) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  a {
    color: $secondary-text-color;
  }

  &-inner {
    @include max-width-container;
    display: flex;
    justify-content: space-between;
  }

  &-language-selector button {
    color: $secondary-text-color;
    display: inline-block;
  }
}

.powered-by-zendesk {
  display: none;
  a,
  a:visited {
    color: $secondary-text-color;
  }
}
